<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sadwyn.iceandfire">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"> </activity>

        <service
            android:name=".services.ExportDataService"
            android:enabled="true">
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2a06c4bf707bb6c6dc90a0fd9403ab108032d963" />

    <provider
    android:authorities="com.sadwyn.iceandfire"
    android:name=".content_providers.CharactersContentProvider"/>

    </application>

</manifest>