<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sadwyn.iceandfire">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com_iceandfire_permission" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <permission android:name="com.iceandfire.permission" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MainTheme">
        <activity
            android:name=".activities.SplashScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <service android:name=".services.ExportDataService" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2a06c4bf707bb6c6dc90a0fd9403ab108032d963" />

        <provider
            android:name=".content_providers.CharactersContentProvider"
            android:authorities="com.sadwyn.iceandfire.provider.contract"
            android:exported="true"
            android:grantUriPermissions="true"
            android:readPermission="com.iceandfire.permission" />

        <receiver android:name=".views.widgets.CharacterWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.sadwyn.update.widget" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/character_widget_info" />
        </receiver>
        <receiver android:name=".receivers.WidgetIntentReceiver">
            <intent-filter>
                <action android:name="WIDGET_INFO_GOTH" />
            </intent-filter>
        </receiver>

        <activity android:name=".activities.WidgetDetailActivity">

        </activity>
    </application>

</manifest>